/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
/npm-debug.log
/yarn-error.log
/.env
/.phpunit.result.cache
/docker
/docker-compose.yml
/yarn.lock
/Makefile
/webpack.mix.docker.js
/public/css/app.css
/public/js/app.js
/composer.lock
/package-lock.json
.DS_Store
_ide_helper.php
/.dockerignore
/.phpstorm.meta.php
