html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 576px) {
  .zoom {
    height:auto;
    width:100%;
  }
}

.zoom {
  transition: transform .2s; /* Animation */
}

@media screen and (min-width: 576px) {
  .zoom:hover {
    -ms-transform: scale(1.7); /* IE 9 */
    -webkit-transform: scale(1.7); /* Safari 3-8 */
    transform: scale(1.7);
  }
}

.navbar .container .collapse:not(.show) {
    display: block;
}

.collapse:not(.show) {
    display: none;
}

.header-filter[filter-color="fflowers"] {
    background: rgba(44, 44, 44, 0.2);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(44, 44, 44, 0.2)), to(rgba(255, 140, 148, 0.6)));
    background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(255, 140, 148, 0.6));
}

.header-filter[filter-color="borntomove"] {
    background: rgba(44, 44, 44, 0.2);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(44, 44, 44, 0.2)), to(rgba(255, 81, 94, 0.6)));
    background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(255, 81, 94, 0.6));
}

.header-filter[filter-color="omdarling"] {
    background: rgba(44, 44, 44, 0.2);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(44, 44, 44, 0.2)), to(rgba(105, 149, 174, 0.6)));
    background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(105, 149, 174, 0.6));
}

.btn-primary:hover {
  box-shadow: 0 15px 30px 0 rgba(220, 55, 65,.35);
}

.btn-primary {
  box-shadow: 0 9px 30px -6px rgba(220, 55, 65,.35);
}

.bg-indexcase {
  background: $primary-color-darken;
}

.bg-primaryy {
    background: rgba(220,55,65, 0.6) !important;
}

.index-page .page-header, .presentation-page .page-header {
    height: 0;
}

.btn-l {
  font-size: 22px;
  text-transform: uppercase;
}

.content-ads {
  font-size: 18px;
}

.nav-pills.nav-pills-icons .nav-item i {
  font-size: 26px;
}

.navbar .navbar-nav .nav-link:not(.btn) i.wk-icons {
    font-size: 18px;
    top: 1px;
    position: relative;
}
.navbar p {
  font-size: 14px;
      font-weight: 600;
}
.bootstrap-select .dropdown-menu.inner li a, .dropdown-menu .dropdown-item span{
  font-size: 14px;
}
.bg-wk {
    background-color: $primary-color;
}
.fa-wk {
  color: $primary-color;
}

.clear-filter[filter-color=wk] {
    background: rgba(12,12,12,.2);
    background: linear-gradient(0deg,rgba(12,12,12,.2),rgba(12,12,12,.6));
}
.custom-bg {
  background-color: hsla(0,0%,100%,.2);
    color: #fff;
}
.title {
    font-weight: 700;
    padding-top: 30px;
}
.features-1, .features-2, .features-3 {
    text-align: center;
}
.features-3 {
    padding: 80px 0;
}
.info {
    max-width: 360px;
    margin: 0 auto;
    padding: 70px 0 30px;
    text-align: center;
}

.info .icon.icon-circle {
    max-width: 80px;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 9px 35px -6px rgba(0,0,0,.3);
    font-size: .7142em;
    background-color: #fff;
    position: relative;
  }
/* Blue */
.icon.icon-info.icon-circle {
    box-shadow: 0 9px 30px -6px rgba(44,168,255,.35);
}
.info.info-hover:hover .icon.icon-info.icon-circle {
    box-shadow: 0 15px 35px 0 rgba(44,168,255,.35);
}
.info.info-hover:hover .icon {
    transform: translate3d(0,-.5rem,0);
}
.info.info-hover:hover .icon.icon-info + .info-title {
    color: #2ca8ff;
}
.icon.icon-info {
    color: #2ca8ff;
}

/* Green */
.icon.icon-success.icon-circle {
    box-shadow: 0 9px 30px -6px rgba(24,206,15,.35);
}
.info.info-hover:hover .icon.icon-success.icon-circle {
    box-shadow: 0 15px 35px 0 rgba(24,206,15,.35);
}
.info.info-hover:hover .icon.icon-success + .info-title {
    color: #18ce0f;
}

.info.info-hover:hover .icon {
    transform: translate3d(0,-.5rem,0);
}
.icon.icon-success {
    color: #18ce0f;
}

  /* Orange */
.icon.icon-primary.icon-circle {
      box-shadow: 0 9px 30px -6px rgba(220, 55, 65,.35);
  }
.info.info-hover:hover .icon.icon-primary.icon-circle {
    box-shadow: 0 15px 30px 0 rgba(220, 55, 65,.35);
}
.info.info-hover:hover .icon {
    transform: translate3d(0,-.5rem,0);
}
.info.info-hover:hover .icon.icon-primary + .info-title {
    color: $primary-color;
}
.info .icon {
    transition: transform .4s,box-shadow .4s;
}
.info .icon>i {
    font-size: 3em;
}
.info .icon.icon-circle i {
    line-height: 2.7;
}
.icon.icon-primary {
    color: $primary-color;
}

.dropdown-item .active-a {
  background-color:rgba(255, 255, 255, 0.2);
  border-radius: 0.1875rem;
}

.landing_page_step{
  font-weight: bold;
  font-size: 16px;
}

.check_price_landing {
  float: left;
  color: $primary-color;
  font-weight: bold;
}

.landing_page_questions {
  font-size: 1.5em !important;
}

@media only screen and (max-width : 991px) {
.landing_page_header{
  font-size: 2.5em;
  padding-top: 15px;
  }
}

.image-left-bottom{
  background-image: url('/images/landing/landing-page-3.jpg');
  height:535px !important;
  background-repeat:no-repeat !important;
  background-size:contain  !important;
  background-position:center  !important;
}

@media only screen and (max-width : 1024px) {
.image-left-bottom{
  margin-left: 0px !important;
 }
}

@media only screen and (max-width : 767px) {
.image-left-bottom{
display: none;
margin-left: 0px;
 }
}

@media only screen and (max-width : 767px) {
.landing_page_steps_header{
margin-top: 30px;
 }
}

.smm-collapse{
  font-size:20px;
  font-weight:bold;
}

.smm_advatages_p{
  font-size: 18px;
}

.smm_strategy_ul{
list-style: none;
}

.smm_strategy_ul .smm_strategy_li::before{
  content: "\2022";
  color: $primary-color;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.page_header_dscr{
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
}

.card_price_title{
  line-height: 1.25em;
  font-weight: 400;
  font-size: 3.5em;
  margin-bottom: .75rem;
}

.price_category{
  font-size: 0.9em;
  margin-bottom: .5rem;
  font-family: inherit;
  line-height: 1.2;
  margin-top: 0;
}

.card_price_title small{
  font-weight: 700;
text-transform: uppercase;
opacity: .8;
position: relative;
top: -17px;
font-size: 26px;
}

.wkn-case-card{
  box-shadow: -1px 10px 29px 0px rgba(0,0,0,0.8);
	border-radius: .25rem!important;
}


.outer-div
{
  height: 100%;
  overflow: hidden;
}
.inner-div
{
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease;
}
.inner-div:hover
{
  transform: scale(1.2);
}

.content_strategy_steps{
padding-top: 5px;
font-size: 1.75em;

}

.content_marketing_wkn{
 list-style-type:none;
}

.content_marketing_wkn-li{
  display: inline;
}

.content_marketing_wkn_check{
  color: red;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid #2c2c2c;
  padding-right: 20px;
  min-height: 28px;
  margin-bottom: 15px;
  padding-left: 5px;
  padding-top: 7px;
  font-size: 1.75em;
  font-weight: 900;
}

.content_marketing_wkn_services_row{
  border-bottom: 1px solid rgba(136, 136, 136, 0.3);
  margin-bottom: 10px;
}

.content_marketing_wkn_services{
  font-size: 1.5em;
}

.info-title-content{
  color: #888888;
}
