::placeholder {
    color: red;
    opacity: 1; /* Firefox */
}

.btn-l {
  font-size: 22px;
  text-transform: uppercase;
}

.content-ads {
  font-size: 18px;
}

.nav-pills.nav-pills-icons .nav-item i {
  font-size: 26px;
}

.navbar .navbar-nav .nav-link:not(.btn) i.wk-icons {
    font-size: 18px;
    top: 1px;
    position: relative;
}
.navbar p {
  font-size: 14px;
      font-weight: 600;
}
.bootstrap-select .dropdown-menu.inner li a, .dropdown-menu .dropdown-item span{
  font-size: 14px;
}
.bg-wk {
    background-color: $primary-color;
}
.fa-wk {
  color: $primary-color;
}

.clear-filter[filter-color=wk] {
    background: rgba(12,12,12,.2);
    background: linear-gradient(0deg,rgba(12,12,12,.2),rgba(12,12,12,.6));
}
.custom-bg {
  background-color: hsla(0,0%,100%,.2);
    color: #fff;
}
.title {
    font-weight: 700;
    padding-top: 30px;
}
.features-1, .features-2, .features-3 {
    text-align: center;
}
.features-3 {
    padding: 80px 0;
}
.info {
    max-width: 360px;
    margin: 0 auto;
    padding: 70px 0 30px;
    text-align: center;
}

.info .icon.icon-circle {
    max-width: 80px;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 9px 35px -6px rgba(0,0,0,.3);
    font-size: .7142em;
    background-color: #fff;
    position: relative;
  }
/* Blue */
.icon.icon-info.icon-circle {
    box-shadow: 0 9px 30px -6px rgba(44,168,255,.35);
}
.info.info-hover:hover .icon.icon-info.icon-circle {
    box-shadow: 0 15px 35px 0 rgba(44,168,255,.35);
}
.info.info-hover:hover .icon {
    transform: translate3d(0,-.5rem,0);
}
.info.info-hover:hover .icon.icon-info + .info-title {
    color: #2ca8ff;
}
.icon.icon-info {
    color: #2ca8ff;
}

/* Green */
.icon.icon-success.icon-circle {
    box-shadow: 0 9px 30px -6px rgba(24,206,15,.35);
}
.info.info-hover:hover .icon.icon-success.icon-circle {
    box-shadow: 0 15px 35px 0 rgba(24,206,15,.35);
}
.info.info-hover:hover .icon.icon-success + .info-title {
    color: #18ce0f;
}

.info.info-hover:hover .icon {
    transform: translate3d(0,-.5rem,0);
}
.icon.icon-success {
    color: #18ce0f;
}

  /* Orange */
.icon.icon-primary.icon-circle {
      box-shadow: 0 9px 30px -6px rgba(220, 55, 65,.35);
  }
.info.info-hover:hover .icon.icon-primary.icon-circle {
    box-shadow: 0 15px 30px 0 rgba(220, 55, 65,.35);
}
.info.info-hover:hover .icon {
    transform: translate3d(0,-.5rem,0);
}
.info.info-hover:hover .icon.icon-primary + .info-title {
    color: $primary-color;
}
.info .icon {
    transition: transform .4s,box-shadow .4s;
}
.info .icon>i {
    font-size: 3em;
}
.info .icon.icon-circle i {
    line-height: 2.7;
}
.icon.icon-primary {
    color: $primary-color;
}
